---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="Publications" description="List of publications">
    <div class="publications-container">
        <h1>Publications</h1>
        <p>Yeah I wish...</p>
        <a href="/">Go back home</a>
    </div>
</BaseLayout>
<style>
    .publications-container {
        text-align: center;
        padding-top: 50px;
    }
</style>
